[Desktop Entry]
Exec=/home/kiing/.config/autostart/autostart.sh
Icon=dialog-scripts
Name=autostart.sh
Path=
Type=Application
X-KDE-AutostartScript=true
